.nav-tabs.nav-justified>li>a {
    color: #ccc;
    font: 2px;
    text-shadow: yellow 0 0 1px;
    font-size: 16px;
}


.round-tab {
    border-radius: 4px 4px 0 0;
}


.round-tab > li > a {
    border-bottom: none !important;
}


.round-tab {
    margin-bottom: 20px !important;
}