@font-face {
    font-family: lobster;
    src: url(/fonts/lobster.woff);
}

.btn-color {
    border: 3px solid transparent;
    color: #24a5bb;
}

main {
    margin-top: 50px;
}

.navbar-inverse {
    background-image: url('/img/noise.png');
    font-family: 'lobster';
    font-size: 16px;
    border: 0px solid transparent;
}

.nav-justified {
    background-image: url('/img/noise.png');
    background-color: #222;
    font-family: 'lobster';
}

.navbar-inverse .navbar-nav > li > a {
    color: #24a5bb;
    font-family: 'lobster';
}

.navbar-inverse .dropdown-menu> li > a {
    color: #24a5bb;
    font-family: 'lobster';
}

.navbar-inverse .dropdown-menu .active> li > a {
    color: #24a5bb;
    background-color: #222;
    font-family: 'lobster';
}

.navbar-inverse .dropdown-menu> li > a:hover {
    color: #FFF;
    background-color: #222;
}

.dropdown-menu {
    background-color: #222;
}

.btn:hover {
    color: #FFF;
    text-decoration: none;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.teachimg {
    float: left;
    margin: 0px 10px 10px 0;
}

.teach> h5 {
    margin-top: 30px;
}

.teach> h4 {
    font-family: 'lobster';
}

.teach {
    border: 1px solid #aaa;
    height: 344px;
}

.teach:hover {
    background: #ffc;
}

body {
    overflow: scroll;
}


.lobster {
    font-family: 'lobster';
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    height: 500px;
}

.round-tab {
    border-radius: 4px 4px 0 0;
}


.round-tab > li > a {
    border-bottom: none !important;
}


.round-tab {
    margin-bottom: 20px !important;

    margin-top: 20px !important;
}


.listContainer {
    
}
.listContainer li {
    display: block;
    cursor: pointer;
}

.listContainer ul {
    margin: 0px;
    padding: 0px;
    
    list-style-type: none;
}

.listContainer .teachimg_preview {
    width: 50px;
    height: 50px;
}

.listContainer li:hover{
    font-weight: bold;
}

.marketing .col-sm-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing .col-sm-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.carousel {
    height: 500px;
    margin-bottom: 60px;
}


.carousel-control { 
    /* height: 600px; */
    height: 100%;

    height: 2000px;
}

.main_teach_title a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.main_teach_title  {
    
}


.hedr1 {
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    padding-left: 40px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.hedr2 {
    font-family: 'lobster';
    padding-left: 40px;
    margin-top: 0px;
    font-weight: normal;
    color: #667;
}

.dancebut {
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    /* font-family: 'lobster'; */
    margin-top: 10px;
}

.dancebut span {
    color: yellow;
}


main > div.container {
     background: rgba(255, 255, 255, 0.95);
     min-height: 800px;
}

body > div.container {
     background: rgba(255, 255, 255, 0.95);
     min-height: 800px;
}


body {
    background-image: url("/img/bg.jpg");
    background-attachment:fixed; 
}


.mainpanes p {
    font-size: 18px;
    text-align: justify;
    
}

.mainpanes .tab-content {
    margin-top: 10px;
}